html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
main {
    overflow: hidden;
}
canvas {
  display: block;
}


h1 {
    font-size: 1.8em;
    margin: 0;
}
h2 {
    font-size: 1.6em;
    margin-top: 1.9em;
}

p {
    font-size: 0.85em;
    line-height: 1.3em;

}


@media screen and (min-width: 411px) {
    h1{

    }
    p {

    }
}
@media screen and (min-width: 768px) {
    h1{
        font-size: 1.9em;
        margin-top: 0.9em;
    }
    h2 {
        font-size: 1.6em;
    }
    p {
        font-size: 1.05em;
        line-height: 1.5em;
    }
}
@media screen and (min-width: 1024px) {
    h1{
        font-size: 2.1em;
        margin-top: 1em;
    }
    h2 {
        font-size: 1.6em;
    }
    p {
        font-size: 1.15em;
        line-height: 1.6em;
    }
}


label {
    display: block;
    width: 38px;
    height: 38px;
    border: solid 1px #0000FF;

    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 10;

    cursor: pointer;
    background-color: #FFFFFF;

    text-align: center;
    color: #0000FF;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 22px;
    line-height: 38px;
}


 @media screen and (min-width: 411px) {
    label {
        width: 52px;
        height: 52px;

        left: 35px;
        top: 35px;

        font-size: 32px;
        line-height: 48px;
    }
}
@media screen and (min-width: 768px) {
    label {
        width: 64px;
        height: 64px;

        left: 35px;
        top: 35px;

        font-size: 38px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1024px) {
    label {
        width: 84px;
        height: 84px;

        left: 40px;
        top: 40px;

        font-size: 42px;
        line-height: 78px;
    }
}

label::after {
    content: "\F129";
}
input#info:checked ~ label::after {
    content: "\F00D";
}
input#info {
    display: none;
    pointer-events: none;
}
input#info:checked ~ #artwork {
    /* transform: rotate3d(1, 1, 1, 286deg) scale(.5); */
}
input#info ~ .infoWindow {
    display: block;
    width: 200vw;
    height: max-content;
    padding: 22px;
    overflow-y: scroll;

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);

    opacity: 0;
    color: transparent;
    transition: all 650ms ease-in-out;
    background: rgba(255,255,255,1);
    /* box-shadow: 0 0 4px 1px #0000ff; */
    /* border-radius: 1px; */
    border: 1px solid #0000FF;
}
input#info:checked ~ .infoWindow {
    width: 75vw;
    z-index: 10;
    opacity: 1;
    max-height: 80vh;
    color: #0000FF;
}
@media screen and (min-width: 411px) {
    input#info:checked ~ .infoWindow {
        width: 60vw;
        max-height: 75vh;
    }
}
@media screen and (min-width: 768px) {
    input#info:checked ~ .infoWindow {
        width: 70vw;
        max-height: 75vh;
    }
}
@media screen and (min-width: 1024px) {
    input#info:checked ~ .infoWindow {
        width: 70vw;
        max-height: 75vh;
    }
}

#artwork {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    position: relative;
    /*transform-style: preserve-3d;*/
    /*transform: rotate3d(1, 1, 1, 360deg);*/
    /*transition: transform 1500ms linear;*/
}

.p5Canvas {
    border: solid 1px #0000FF;
    position: absolute;
    z-index: -1;
    align-self: flex-start;
    top: 0;
    left: 0;
    margin: 50px;
}


button {
    padding: 1rem;
    align-self: center;
    border: solid 1px #0000FF;
    position: relative;
    top: -5px;
    transform: scale(0.75);
    background-color: #FFFFFF;
    color: #0000FF;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
}
@media screen and (min-width: 411px) {
    button {
        margin: 0.4rem;
        transform: scale(1);
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px) {
    button {
        margin: 0.95rem;
        font-size: 1.2rem;
        padding: 1.3rem;
    }
}
@media screen and (min-width: 1024px) {
    button {
        top: -50px;
        margin: 0.75rem;
        font-size: 1.3rem;
    }
}

button::before {
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
 }
button::before {
  content: "\F00C";
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  font-weight: 900;
}
button:hover {
  background-color: #0000FF;
  color: #FFFFFF;

}

.continue {
    position: absolute;
    top: 30px;
}
.continue:before {
  content: "\F061";
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  font-weight: 900;
}

.hide{
  display: none;
}

.active {
  background-color: #0000FF;
  color: #FFFFFF;
}

button[disabled]:not(.active) {
  opacity: 0.3
}
